/*CSS for the form page*/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Affects the Login button*/
.Login_button {
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    margin: 0px;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px;
    font-weight: 700;
} 
/*Affects the title of the page*/
#title_forum h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    color: darkred;
    font-weight: bold;
}
/*Affeects the div for where you type in a new post*/
#container {
    background-color: white;
    width: 100%;
    height: 100%;
}
