/*CSS for the Homepage*/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Centers the logo on the Homepage*/
.main_body_homepage {
    text-align: center;
    vertical-align: middle;
    height: 100vh;
}
/*Logo for the homepage*/
.Logo {
    width: 300px;
}
/*Affects the individual div for About Us and Contact*/
.Information {
    margin-bottom: 50px;
}
/*Affects the titel for About Us and Contact*/
.Information_title{
    margin: 10px 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: darkred;
    padding-top: 10px;
    padding: 10px
}
