/*CSS for the Homepage*/

/*Includes padding and margins in the width and height*/
* {
    box-sizing: border-box
}
/*Centers the logo on the Homepage*/
.main_body_homepage {
    text-align: center;
    vertical-align: middle;
    height: 100vh;
}
/*Logo for the homepage*/
.Logo {
    width: 300px;
}
/*Centers the logo on the Homepage*/
.main_body_homepage_container h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}
/*Affects the individual div for About Us and Contact*/
.Information {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 50px;
}
.Information h2{
    margin-left: 10px;
}
