/*CSS page for Standardized Testing*/

/*Affects the slider whihc allows you to toggle*/
.slider_container {
    display: inline-block;
    text-decoration: none;
    margin: 50px;
}
.slider_item a {
    color: darkred;
    
}
/*Affects all list elemnts wihtin the body of the Collegeboard webpage*/
.main_body ul {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 30px;
}